# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Avalonia.ColorGenerator.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\roman\GitHub\Avalonia.ColorGenerator\.idea\.idea.Avalonia.ColorGenerator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
